<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class='title'><%- htmlTitle %></div>
    <div class='body'><%- htmlBody %></div>
    <hr>
    <p>
      <i>author:</i>
      <%- author %>
    </p>
    <p>
      <i>last modified:</i>
      <%- new Date(modified).toLocaleString('en-US', {timeZone: 'America/Los_Angeles'}) %>
    <p>
    <p>
      <i>created:</i>
      <%- new Date(created).toLocaleString('en-US', {timeZone: 'America/Los_Angeles'}) %>
    </p>
  </body>
</html>
