<!DOCTYPE html>
<html>
  <head>
    <title><%= username %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class='user'><%= username %></h1>
    <ul>
      <% for (let post of posts) { %>
        <li>
          <%- post.htmlTitle %>
          <%- post.htmlBody %>
          Last modified: <%= new Date(post.modified).toDateString() %>
        </li>
      <% } %>
    </ul>
    <% if (next) { %>
      <a id='next' href='/blog/<%= username %>?start=<%= next %>'>next</a>
    <% } %>
  </body>
</html>
