<!DOCTYPE html>
<html>
  <head>
    <title><%= username %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class='user'><%= username %></h1>
    <ul>
      <% for (let post of posts) { %>
        <li>
          <%- post.htmlTitle ? post.htmlTitle : "<p style='font-style: italic; color: grey'>untitled</p>" %>
          <%- post.htmlBody ? post.htmlBody : "<p style='font-style: italic; color: grey'>no body</p>" %>
          <p style='color: grey'><i>Last modified:</i> <%= new Date(post.modified).toLocaleString('en-US', {timeZone: 'America/Los_Angeles'}) %></p>
        </li>
      <% } %>
    </ul>
    <% if (next) { %>
      <a id='next' href='/blog/<%= username %>?start=<%= next %>'>next</a>
    <% } %>
  </body>
</html>
